<% javascript 'foreman_upman/channel/wizard' %>

<% title _("Create channel (auto-detect)") %>

<%= breadcrumbs(items: [{caption: _('Channel'), url: channels_path}, {caption: _("Create channel (auto-detect)")}]) %>

<%= form_for @channel_wizard, as: :wizard, url: create_from_wizard_channels_path do |f| %>
  <%= base_errors_for @channel_wizard %>

  <%= text_f f, :base_url, required: true, help_inline: _('Base URL to repository (e.g. http://ftp2.de.debian.org/debian)') %>
  <%= text_f f, :codename, required: true, help_inline: _('Distribution code (e.g. stretch)') %>

  <%= f.hidden_field :origin %>
  <%= f.hidden_field :label %>
  <%= f.hidden_field :version %>
  <%= f.hidden_field :suite %>
  <%= f.hidden_field :description  %>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-4">
      <%= link_to_function(_('Lookup repository'), "lookupRepository();", {:id => 'btn-trigger-lookup', :class => 'btn btn-info disabled'}) %>
      <div id="lookup-process-failed" class="alert alert-danger hidden">
        <br>
        <span class="pficon pficon-error-circle-o"></span>
        <strong><%= _('Could not retrieve repository informations') %></strong>
      </div>
      <div id="lookup-process" class="hidden">
        <br>
        <p><span class="spinner spinner-xs spinner-inline"></span> Fetching latest repository informations...</p>
      </div>
    </div>
  </div>

  <div id="repository-details" class="hidden">
    <div class="form-group">
      <div class="col-md-offset-2 col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong><%= _("Repository details") %></strong>
          </div>
          <table class="<%= table_css_classes %>">
            <tbody id="dt-release-data"></tbody>
          </table>
        </div>
      </div>
    </div>

    <%= upman_selectable_f(f, :components, [], {}, { :label => _('Components *'), :multiple => true, :class => 'without_jquery_multiselect'}) %>
    <%= upman_selectable_f(f, :architectures, [], {}, { :label => _('Architectures *'), :multiple => true, :class => 'without_jquery_multiselect'}) %>

    <%= submit_or_cancel f %>

  </div>
<% end %>
